.mainView {
  width: 784px;
  height: 900px;
  position: absolute;
  top: 0px;
  left: 400px;
}

.mainTopView {
  width: 784px;
  position: absolute;
  top: 0px;
  left: 400px;
}

.mainBottomView {
  width: 784px;
  height: 120px;
  position: absolute;
  top: 120px;
  left: 400px;
}

.mainSideView {
  width: 256px;
  height: 900px;
  position: absolute;
  top: 0px;
  left: 1184px;

  display: flex;
  flex-direction: column;
}

.paragraphBox {
  max-width: 750px;
  margin: 17px;
  padding: 16px;
  border-radius: 16px 16px 6px 16px;
  background-color: #f2f9eb;
}

.currentSettingBlock {
  width: 784px;
  height: 120px;
  display: flex;
  align-items: center;
}

.currentSettingIcon {
  width: 70px;
  height: 70px;
  margin: 25px 20px 25px 20px;
  background-color: aquamarine;
}

.currentSettingSubTitle {
  width: 90px;
  height: 100px;
  margin: 10px 10px 10px 0px;
  line-height: 50px;
}

.currentSettingTagBlock {
  width: 450px;
  height: 100px;
}

.currentSettingEditButton {
  margin: 0px 15px 0px 15px;
  height: 40px;
}

.keywordBlock {
  padding: 4px 4px 4px 8px;
  margin-right: 8px;
  height: 34px;
  display: flex;
  align-items: center;
  background-color: #72806a;
  border-radius: 16px 16px 6px 16px;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
}

.warnText {
  width: 784px;
  height: 37px;
  line-height: 37px;
  color: sienna;
  padding-right: 20px;
  text-align: right;
  font-size: 14px;
}

.currentKeywords {
  width: 450px;
  height: 50px;
  display: flex;
  align-items: center;
}

#evaluationCointainer {
  margin: 16px 16px 30px 16px;
}

#dictionaryPopup {
  margin: 8px;
  width: 240px;
  padding: 10px;
  border-radius: 10px;
  border-width: 1px;
  border-color: #e0e0e0;
}

.partOfSpeech {
  width: fit-content;
  color: cadetblue;
  font-size: 12px;
  padding: 2px 4px 2px 4px;
  margin-right: 4px;
  border-width: 1px;
  border-radius: 10px;
  border-color: cadetblue;
  float: left;
}

#formatBlock {
  height: 34px;
  padding: 4px 10px 4px 10px;
  border-radius: 8px;
  border-width: 1px;
  border-color: #e0e0e0;
}

.rightAlign {
  float: right;
}
.leftAlign {
  float: left;
}
.marginBottom4px {
  margin-bottom: 4px;
}