.settingView {
  width: 670px;
  height: 900px;
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 23px;
}

.settingSideView {
  width: 370px;
  height: 900px;
  position: absolute;
  top: 0px;
  left: 670px;
  padding-top: 470px;
}
