.sideBarTitle {
  padding-top: 24px;
  padding-left: 24px;
}

.settingBlock:hover {
  background-color: #E0E0E0;
}

.settingBlockSelected {
  background-color: #F2F9E8;
}

.settingBlock {
  width: 400px;
  height: 88px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  display: flex;
}

.settingBlockIcon {
  width: 64px;
  height: 64px;
  margin-right: 16px;
}

.settingBlockText {
  width: 288px;
  height: 64px;
  line-height: 64px;
}

.historyBlock {
  width: 360px;
  height: 40px;
  line-height: 40px;
  padding: 0px 10px 0px 10px;
  margin-bottom: 12px;
  border-radius: 16px 16px 6px 16px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.historyBlockPositive {
  background-color: #E4EFD3;
}

.historyBlockNegative {
  background-color: #e0e0e0;
}