
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.textTitle {
  font-size: 20px;
  font-weight: bold;
}

.textSubTitle {
  font-size: 16px;
  font-weight: bold;
}

.textRegular {
  font-size: 16px;
  font-weight: normal;
}

.textSubDescription {
  font-size: 14px;
  font-weight: normal;
}

.textViewTitle {
  font-size: 28px;
  font-weight: bolder;
}

.sectionBorder {
  border-color: #92a785;
  border-width: 1px;
  border-style: solid;
}
