.textTitle {
  font-size: 20px;
  font-weight: bold;
}

.textSubTitle {
  font-size: 16px;
  font-weight: bold;
}

.textRegular {
  font-size: 16px;
  font-weight: normal;
}

.textViewTitle {
  font-size: 28px;
  font-weight: bolder;
}

.sectionBorder {
  border-color: #92a785;
  border-width: 1px;
  border-style: solid;
}

.sectionBorderOnlyBottom {
  border-color: #92a785;
  border-width: 0px 0px 1px 0px;
  border-style: solid;
}

.sidebarView {
  width: 400px;
  height: 900px;
  position: absolute;
  top: 0px;
  left: 0px;
}